/*** CSS3 VQS | Chapter 9 | ui-generatedcontent-properties.css ***/

* {
	quotes: '«' '»' '‹ ' ' ›';
}

.toc { margin: 0 auto; width: 90%; text-align: center; font-size: .5em;}

a {
	cursor: help;
}

h1 {
	cursor: url(../_images/cursor-02.png) 20 20, crosshair;
}

.toc {
	counter-reset: chapterNum 0;
}

.toc h2:before {
	content:  url('../_images/bullet-01.png') 'Chapter ' counter(chapterNum) '. ';
	counter-increment: chapterNum;
}
.toc h2:after {
	content: url('../_images/bullet-02.png');
}

#chapter4 .continued {
	counter-reset: chapterNum 4;
} 

#chapter5 .continued {
	counter-reset: chapterNum 5;
} 

#chapter6 .continued {
	counter-reset: chapterNum 6;
} 

#chapter7 .continued {
	counter-reset: chapterNum 7;
} 

#chapter8 .continued {
	counter-reset: chapterNum 8;
} 

#chapter9 .continued {
	counter-reset: chapterNum 9;
} 

#chapter10 .continued {
	counter-reset: chapterNum 10;
} 