body
{
background-color:grey;
}
p {
  color: brown;
}

@font-face
{
font-family: slateChalk;
src: url('./app/fonts/chalkdust.ttf');
}

/* tjs 131114 */
@font-face {
	font-family: Chalkduster;
	src: local('Chalkduster'), url('./app/fonts/chalkdust.ttf') format('truetype');
}

table {
	font-family:Chalkduster,"Times New Roman",Georgia,Serif;
	font-size: x-large;
	width:100%;
	}
th, td {
	margin:10px;
	width:33%;
	}
	
.Fruits {color: rgb(229,54,48);}
.Grain {color: rgb(221,125,34);}
.Protein {color: rgb(119,99,162);}
.Vegetables {color: rgb(42,186,89);}
.Dairy {color: rgb(82,156,210);}